ACCOUNT1_API_ID=your_api_id_here
ACCOUNT1_API_HASH=your_api_hash_here
ACCOUNT1_NAME=Carlos 1

ACCOUNT2_API_ID=your_api_id_here
ACCOUNT2_API_HASH=your_api_hash_here
ACCOUNT2_NAME=Carlos 2

SUPABASE_URL=your_supabase_url
SUPABASE_KEY=your_supabase_anon_key
SECRET_KEY=your_secret_key
